{% extends 'base.html.twig' %}

{% block title %}ALGERdiscoveRIE{% endblock %}

{% block body %}

    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center bg-white">
                    <h1 class="font-weight-light">ALGERdiscoveRIE</h1>
                    <p class="lead">L'application qui va vous instruire et vous faire voyager</p>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb100 wow">
                    <h2 class="section-heading">Bienvenue sur ALGERdiscoveRIE</h2>
                    <h3 class="section-subheading secondary-font">Venez voyager avec nous en Algérie.</h3>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
