{% extends 'base.html.twig' %}

{% block title %}Interactive map{% endblock %}

{% block body %}

    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center text-white masthead-frame">
                    <h1 class="font-weight-light">Discover Algeria</h1>
                    <p class="lead">The best country in the world !</p>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <section class="py-5">
        <div class="container-fluid">
            <div class="card">
                <div class="row map-container">
                    <div class="col-md-6">
                        <!-- Map -->
                        <div id="map-within-card-2" style="height: 800px;">
                            <div id="chartdiv" class="map"></div>
                        </div>
                        <!-- Map -->
                    </div>

                    <div class="col-10 col-md-4 mx-auto align-self-center py-4">
                        <div id="region_info" ></div>
                        <a href= "{{ path('article') }}" class="btn btn-dark my-3">More about Algeria's regions</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <!-- index of regions -->
            <h3>List of region in Algeria :</h3>
            <button class="btn btn-dark my-3" id="show_region_list_btn">Show</button>
            <button class="btn btn-danger my-3" id="hide_region_list_btn">Hide</button>
            <div id="region-list"></div>
        </div>
    </section>

{% endblock %}

 {% block javascripts %}
     <script src="{{asset('js/regionData.js')}}"></script> <!--Json data of Algeria's regions-->
     <script src="{{asset('js/mapConfig.js')}}"></script>
 {% endblock %}