{% extends 'base.html.twig' %}

{% block title %}Interactive map{% endblock %}

{% block body %}
    <section class="dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="assets/img/bg/bg2.jpg" data-speed="0.7">
        <div class="section-inner pad-top-200">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mt30 wow text-center">
                        <h2 class="section-heading">Discover Algeria</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- MAP SECTION -->
    <section class="row">
        <div id="chartdiv" style="width: 100%; height: 800px;"></div>
        <article id="region_list" class="col-lg-12">
            <!--        ul>(li>a#region-$.btn.btn-primary.m-2{wilaya})*58-->
            <ul class="row region-list">
                <li><a href="" id="region-1" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-2" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-3" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-4" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-5" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-6" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-7" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-8" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-9" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-10" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-11" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-12" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-13" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-14" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-15" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-16" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-17" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-18" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-19" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-20" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-21" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-22" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-23" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-24" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-25" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-26" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-27" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-28" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-29" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-30" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-31" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-32" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-33" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-34" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-35" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-36" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-37" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-38" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-39" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-40" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-41" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-42" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-43" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-44" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-45" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-46" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-47" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-48" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-49" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-50" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-51" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-52" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-53" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-54" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-55" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-56" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-57" class="btn btn-primary m-2">wilaya</a></li>
                <li><a href="" id="region-58" class="btn btn-primary m-2">wilaya</a></li>
            </ul>
        </article>
    </section>

    <section>
        <div class="section-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 wow fadeIn" data-wow-delay="0.2s">
                        <div class="icon-box-1 match-height mb30">
                            <i class="fa-4x pe-7s-camera"></i>
                            <div class="content-area">
                                <h3 class="title">Retina Display</h3>
                                <div class="content">Conveniently productize inexpensive applications without multifunctional benefits. Energistically seize functional interfaces and resource-leveling customer service. Efficiently maximize mission-critical platforms with superior ideas. Synergistically utilize team driven.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeIn" data-wow-delay="0.2s">
                        <div class="icon-box-1 match-height mb30">
                            <i class="fa-4x pe-7s-headphones"></i>
                            <div class="content-area">
                                <h3 class="title">Quality Support</h3>
                                <div class="content">Dynamically mesh quality applications for leveraged users. Phosfluorescently predominate resource maximizing scenarios without future-proof scenarios. Intrinsicly actualize extensive e-tailers before superior technologies. Assertively morph interdependent expertise for virtual niche.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeIn" data-wow-delay="0.2s">
                        <div class="icon-box-1 match-height mb30">
                            <i class="fa-4x pe-7s-rocket"></i>
                            <div class="content-area">
                                <h3 class="title">Lightweight</h3>
                                <div class="content">Seamlessly simplify multidisciplinary users whereas team building manufactured products. Professionally enable dynamic action items whereas bricks-and-clicks processes. Dynamically mesh functional data without innovative materials. Seamlessly scale distributed methodologies.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeIn" data-wow-delay="0.2s">
                        <div class="icon-box-1 match-height mb30">
                            <i class="fa-4x pe-7s-cloud-upload"></i>
                            <div class="content-area">
                                <h3 class="title">Cloud Backups</h3>
                                <div class="content">Uniquely reintermediate customized methods of empowerment after cutting-edge convergence. Efficiently underwhelm functionalized value before worldwide services. Distinctively synergize synergistic infomediaries before low-risk high-yield methods.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeIn" data-wow-delay="0.2s">
                        <div class="icon-box-1 match-height mb30">
                            <i class="fa-4x pe-7s-users"></i>
                            <div class="content-area">
                                <h3 class="title">Global Userbase</h3>
                                <div class="content">Energistically e-enable visionary markets rather than empowered methodologies. Phosfluorescently actualize multimedia based "outside the box" thinking after distinctive interfaces. Continually grow technically sound total linkage for.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeIn" data-wow-delay="0.2s">
                        <div class="icon-box-1 match-height mb30">
                            <i class="fa-4x pe-7s-tools"></i>
                            <div class="content-area">
                                <h3 class="title">Handy Tools</h3>
                                <div class="content">Synergistically network market positioning "outside the box" thinking via exceptional solutions. Completely synthesize progressive solutions without exceptional value. Uniquely evisculate orthogonal interfaces after bleeding-edge processes. Credibly.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="flexpanel">
        <div class="viewport-wrap">
            <div class="viewport">
                <div class="widget mb50">
                    <h4 class="widget-title">Latest Articles</h4>
                    <div>
                        <div class="media">
                            <div class="pull-left">
                                <img class="widget-img" src="assets/img/widget/widget1.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <span class="media-heading"><a href="#">Panic In London</a></span>
                                <small class="muted">Posted 14 April 2015</small>
                            </div>
                        </div>
                        <div class="media">
                            <div class="pull-left">
                                <img class="widget-img" src="assets/img/widget/widget2.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <span class="media-heading"><a href="#">New iPhone News</a></span>
                                <small class="muted">Posted 14 April 2015</small>
                            </div>
                        </div>
                        <div class="media">
                            <div class="pull-left">
                                <img class="widget-img" src="assets/img/widget/widget3.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <span class="media-heading"><a href="#">Our Year In Review</a></span>
                                <small class="muted">Posted 14 April 2015</small>
                            </div>
                        </div>
                        <div class="media">
                            <div class="pull-left">
                                <img class="widget-img" src="assets/img/widget/widget4.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <span class="media-heading"><a href="#">jQuery Tutorial</a></span>
                                <small class="muted">Posted 14 April 2015</small>
                            </div>
                        </div>
                        <div class="media">
                            <div class="pull-left">
                                <img class="widget-img" src="assets/img/widget/widget5.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <span class="media-heading"><a href="#">Sheen Interview</a></span>
                                <small class="muted">Posted 14 April 2015</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget mb50">
                    <h4 class="widget-title"><strong>Latest</strong> Articles</h4>
                    <div class="tagcloud">
                        <a href="#" class="tag-link btn btn-theme btn-xs" title="3 topics">Local</a>
                        <a href="#" class="tag-link btn btn-theme btn-xs" title="3 topics">Business</a>
                        <a href="#" class="tag-link btn btn-theme btn-xs" title="3 topics">Media</a>
                        <a href="#" class="tag-link btn btn-theme btn-xs" title="3 topics">Photogtraphy</a>
                        <a href="#" class="tag-link btn btn-theme btn-xs" title="3 topics">Aid</a>
                        <a href="#" class="tag-link btn btn-theme btn-xs" title="3 topics">Fashion</a>
                        <a href="#" class="tag-link btn btn-theme btn-xs" title="3 topics">News</a>
                        <a href="#" class="tag-link btn btn-theme btn-xs" title="3 topics">Cars</a>
                        <a href="#" class="tag-link btn btn-theme btn-xs" title="3 topics">Global Affairs</a>
                        <a href="#" class="tag-link btn btn-theme btn-xs" title="3 topics">Music</a>
                        <a href="#" class="tag-link btn btn-theme btn-xs" title="3 topics">Downloads</a>
                        <a href="#" class="tag-link btn btn-theme btn-xs" title="3 topics">MP3</a>
                    </div>
                </div>
                <div class="widget about-us-widget mb50">
                    <h4 class="widget-title">About Kompleet</h4>
                    <p>Professionally monetize team building materials for 24/7 results. Holisticly transition corporate platforms vis-a-vis cutting-edge experiences. Dynamically strategize ubiquitous applications for premier initiatives. Interactively seize resource sucking niche markets.</p>
                </div>
            </div>
        </div>
    </div>

{% block javascripts %}

{% endblock %}

{% endblock %}
