{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% form_theme contactForm 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center bg-white">
                    <h1 class="font-weight-light">Contact us</h1>
                    <p class="lead">Subtile</p>
                </div>
            </div>
        </div>
    </header>

    <section class="py-5">
        <div class="container">
            <h1>Contact us</h1>

            {{ form_start(contactForm) }}

            {{ form_widget(contactForm) }}

            <button type="submit" class="btn btn-primary">Submit</button>

            {{ form_end(contactForm) }}
        </div>
    </section>

{% endblock %}
